.nb {
  padding: 2%;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbrand {
  font-size: 2rem;
}

.nav-link {
  color: black;
  margin-left: 15%;
}

.navbar-toggle {
  color: #fff !important;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.articleOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.articleTitle {
  margin: 20px 0;
  text-align: center;
}

.articleImg {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

.articleText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 50%;
  padding: 5%;
}

.login-container {
  border: solid 1px;
  width: 35vw;
  padding: 5%;
  margin-top: 5%;
  text-align: center;
}

.form-text {
  padding: 5%;
}

.form-btn {
  background-color: white;
  width: 25vw;
  margin-top: 5%;
  color: black;
  border: solid 1px black; 
}


@media only screen and (min-width: 576px) and (max-width: 767px), 
  (min-width: 320px) and (max-width: 375px), /* iPhone SE and 6/7/8 */
  (min-width: 375px) and (max-width: 414px), /* iPhone 6+/7+/8+ */
  (min-width: 414px) and (max-width: 575px) { /* iPhone X/XS/11 Pro, XR/11, XS Max/11 Pro Max */
  
  .navbrand {
    color: white;
  }

  .navbar-toggle {
    color: #fff !important;
  }

  .navbar-collapse.show .nav-link {
    color: white;
    margin: 0;
  }
  
  .article-container {
    height: 100vh;
    margin-top: 10%;
  }
  .articleOne {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .articleImg {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .articleTitleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .articleTitle {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .articleSubtitle {
    font-size: 1rem;
    color: #888;
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px), 
  (min-width: 320px) and (max-width: 375px), /* iPhone SE and 6/7/8 */
  (min-width: 375px) and (max-width: 414px), /* iPhone 6+/7+/8+ */
  (min-width: 414px) and (max-width: 575px) { /* iPhone X/XS/11 Pro, XR/11, XS Max/11 Pro Max */
  
  .navbar {
    height: 50px; /* adjust as needed */
  }

  .navbrand {
    color: white;
  }

  .navbar-toggle {
    color: #fff !important;
  }
  
  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  

  .articleOne {
    flex-direction: column;
    align-items: center;
  }
  
  .articleTitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .articleImage {
    height: 90vh;
    width: 100vw;
  }

  .articleText {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nb {
    padding: 1vw;
    font-size: 1.2rem;
  }
  .navbrand {
    font-size: 1.5rem;
    margin-left: 2vw;
  }
  .nav-link {
    margin: 0 2vw;
  }
  .nav-link-login {
    margin-right: 2vw;
  }

  .navbar-toggle {
    color: #fff !important;
  }

  .article-container {
    height: 100vh;/* adjust as needed */
  }

  .articleImage {
    height: 100vh;
    width: 100vw;
  }

  .articleOne {
    flex-direction: column;
    align-items: center;
  }
  
  .articleTitle {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .articleIntro {
    display: block;
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .articleText {
    max-width: 100%;
  }
}
