.nb {
  padding: 2%;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.navbrand {
  font-size: 2rem;
  margin-left: 5%;
}
.nav-link {
  color: black;
  margin-left: 15%;
}

.nav-link-login {
  margin-left: 550%;
}

/* Media query for iPhone screens */
@media only screen and (max-width: 480px) {
  .nb {
    padding: 1%;
    font-size: 1.2em;
  }
  .navbrand {
    font-size: 1.5rem;
    margin-left: 2%;
  }
  .nav-link {
    margin: 0 2%;
  }
  .nav-link-login {
    margin-right: 2%;
  }
}


