.nb {
  padding: 2%;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-transform: uppercase;
}

.navbrand {
  font-size: 2rem;
  margin-left: 5%;
}
.nav-link {
  color: black;
  margin-left: 15%;
}

.nav-link-login {
  margin-left: 550%;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75vh;
}

.articleOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.articleImg {
  margin-right: 20px;
  flex: 1;
  max-width: 50%;
}

.articleText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 50%;
}


/* Media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .nb {
    padding: 1vw;
    font-size: 1.2rem;
  }
  .navbrand {
    font-size: 1.5rem;
    margin-left: 2vw;
  }
  .nav-link {
    margin: 0 2vw;
  }
  .nav-link-login {
    margin-right: 2vw;
  }
  .articleTitle {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  
  .articleIntro {
    display: block;
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

/* Media query for screens between 768px and 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nb {
    padding: 1vw;
    font-size: 1.2rem;
  }
  .navbrand {
    font-size: 1.5rem;
    margin-left: 2vw;
  }
  .nav-link {
    margin: 0 2vw;
  }
  .nav-link-login {
    margin-right: 2vw;
  }
  .articleTitle {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  
  .articleIntro {
    display: block;
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}




